*{
    margin:0;
    padding:0;
}
body{
    background:linear-gradient(125deg,rgb(119, 65, 200),rgb(240, 192, 255),rgb(118, 72, 233));
   
}
.container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
h1{

}
h1 span{
    color:crimson;
}

textarea{
    /* overflow: auto; */
    background-color:rgb(47, 73, 101) !important;
    color:white !important;
    border-radius: 10px;
}
textarea placeholder{
    color:white !important;
}
textarea::placeholder{
    font-size:16px;
    color:white !important;
}
.rowd{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
    margin-top:1rem;
    gap:1vw;
    

}
 #listen{
 border-radius: 35px;
    background-color: crimson;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    /* height:85%; */
}
#reset{
   
    background-color:rgb(255, 132, 0);
    border-radius: 35px;
    
   
    color: white;
    /* left:23%; */
}
select{
   flex:1;
    /* it will take all the empty spaces in flex box */
   color:#fff;
   background: #403d84;
  
   /* outline: 0; */
   border: 0;
   border-radius: 35px;
    
} 
@media(min-width:1024px){
    .container{
        width:100vw;
    height:100vh;
   
    }
    textarea{ 
    width:50vw !important;
    height:50vh;
    
    }
    .rowd{
        gap:2vw;
    }
   
    #reset{
       
    width:96.5px !important;
    height:6.5vh;
    }
#listen{
    height:6.5vh;
}
    select{
        height:6.5vh;
    }
    
}

@media(min-width:601px) and (max-width:1023px){
    .container{
        width:100vw;
       height:100vh;
       position:relative;
       bottom:3rem;
       }
       textarea{
       width:70vw;
       height:50vh;
       }
       .rowd{
           flex-wrap:wrap;
          overflow: hidden;
          gap:2vw;
        
   
       }
       #reset{
        width:96.5px;
       height:6.5vh;
       }
   #listen{
       height:6.5vh;
       /* width:20vw; */
   }
       select{
           height:6.5vh;
       }
   } 

@media(max-width:600px){
     .container{
      width:100vw;
    height:100vh; 
    position:relative;
    bottom:5rem;
    } 
    textarea{
    width:90%;
    height:35%;
    }
    .rowd{
        flex-wrap:wrap;
       overflow: hidden;
       

    }
    #reset{
        width:96.5px;
    height:6.5vh;
    }
#listen{
    height:6.5vh;
    /* width:20vw; */
}
    select{
        height:6.5vh;
    }
}