*{
    margin:0;
    padding:0;
}

.container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(125deg,rgb(119, 65, 200),rgb(240, 192, 255),rgb(118, 72, 233));
    
}
h1{

}
h1 span{
    color:crimson;
}

textarea{
    /* overflow: auto; */
    background-color:rgb(47, 73, 101);
    color:white;
    border-radius: 10px;
}
textarea placeholder{
    color:white;
}
textarea::placeholder{
    font-size:16px;
    color:white;
}
.rowd{
    display: flex;
    align-items: center;
    margin-top:1rem;
    gap:1vw;

}
 #listen{
 border-radius: 35px;
    background-color: crimson;
    color:white;
    display:flex;
    justify-content: center;
    /* height:85%; */
}
#reset{
    position: relative;
    background-color:rgb(255, 132, 0);
    border-radius: 35px;
    
    font-size: 16px;
    color: white;
    /* left:23%; */
}
select{
   flex:1;
    /* it will take all the empty spaces in flex box */
   color:#fff;
   background: #403d84;
  
   outline: 0;
   border: 0;
   border-radius: 35px;
    
} 
@media(min-width:1024px){
    .container{
        width:100vw;
    height:100vh;
   
    }
    textarea{
      
    width:40vw;
    height:45vh;
    
    }
    .rowd{
        width:40vw;
    }
    #reset{
    width:96.5px;
    height:6.5vh;
    }
#listen{
    height:6.5vh;
}
    select{
        height:6.5vh;
    }
    
}

@media(max-width:767px){
    .container{
     width:100vw;
    height:100vh;
    position:relative;
    bottom:5rem;
    }
    textarea{
    width:90vw;
    height:35vh;
    }
    .rowd{
       margin:1rem 5% 0 5%;

    }
    #reset{
    width:96.5px;
    height:6.5vh;
    }
#listen{
    height:6.5vh;
}
    select{
        height:6.5vh;
    }
}